doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Creative - Start Bootstrap Theme
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='/stylesheets/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    // Plugin CSS
    link(href='/stylesheets/css/magnific-popup.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/stylesheets/css/creative.min.css', rel='stylesheet')
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='#page-top') Matthew Wierzbicki
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#about') About
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#services') Services
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#portfolio') Portfolio
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#contact') Contact
    header.masthead.text-center.text-white.d-flex
      .container.my-auto
        .row
          .col-lg-10.mx-auto
            h1.text-uppercase
              strong Portfolio
            hr
          .col-lg-8.mx-auto
            p.mb-5
              | This webpage is meant to serve as a place to discuss the work I completed throughout my years at Durham College. Over this time, the applications I created have contributed to my knowledge in many areas of the Information Technology industry. Not only have they strengthened my skills as a computer programmer, but they also act as a great base for employers to examine my problem solving and application design skills.
            a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Find Out More
  
block content

